# config.py
import os

OPENAI_APIKEY = "put your api key here!!"

DEFLAUT_CONFIG={
    "model": "gpt-5.1",
    "top_p": 1,
    "presence_penalty": 0,
    "frequency_penalty": 0,
    "response_format": {
        "type": "text"
    }
}